<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Test Suite">
	<listeners>
		<listener class-name="com.crm.qa.util.listeners.TestListener"/>
		<listener class-name="com.crm.qa.util.listeners.AnnotationTransformer"/>
	</listeners>



	<test name="Test Cases">
		<classes>
	        <class name="com.crm.qa.testcases.WallethubProfilePageTest"></class>
	        <class name="com.crm.qa.testcases.FacebookTest"></class>

		</classes>
	</test>
</suite>